@model ProductFeatureViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4>Update Brand</h4>
<hr />

<div class="card py-4 px-5">

    @using (Html.BeginForm("Edit", "ProductFeature", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form row">
            <div class="col-12 col-md-6 col-lg-6 mt-3">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ProductFeaturesId)

                <div class="form-group mb-2">
                    <label class="control-label">Feature Name</label>
                    <div class="">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group mb-2">
                    <label class="control-label">Is Mandatory</label>
                    <div class="">
                        @Html.EditorFor(model => model.IsManadatory, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsManadatory, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div>
                    <div class="col-md-offset-2 my-4">
                        <input type="submit" value="Update" class="btn btn-success w-100 bg-ad-primary" />
                    </div>
                </div>
            </div>

        </div>
    }

    <div class="card-footer">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $("#ImageFile").change(function () {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').attr('src', e.target.result);
                    $('#oldImage').hide();
                    $('#imagePreview').show();
                }
                reader.readAsDataURL(this.files[0]);
            });
        });
    </script>
}
