@using eCommerce.Domain.Entities
@model ProductFeatureViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4>Update Brand</h4>
<hr />

<div class="card py-4 px-5">

    @using (Html.BeginForm("Edit", "ProductFeature", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form row">
            <div class="col-12 col-md-6 col-lg-6 mt-3">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ProductFeatureId)

                <div class="form-group mb-2">
                    <label class="control-label">Feature Name</label>
                    <div class="">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
               
                <div class="form-group mb-2">                    
                    <label class="control-label">Feature Category</label>

                    <select class="form-control" name="FeatureCategoryId">
                        <option value="@Model.FeatureCategoryId">@Model.FeatureCategoryName</option>
                        @foreach (var fc in ViewBag.FeatureCategories)
                        {
                            <option value="@fc.Value">@fc.Text</option>
                        }
                    </select>
                    <span asp-validation-for="IsManadatory" class="text-danger"></span>
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.InputType, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.InputType, new SelectList(Enum.GetValues(typeof(FeatureInputType))), "-- Select Input Type --",
                             new { @class = "form-control" })
                    <span asp-validation-for="IsManadatory" class="text-danger"></span>
                </div>


                <div class="form-group mb-2">
                    <label class="control-label">Is Mandatory</label>
                    <div class="">
                        @Html.CheckBoxFor(model => model.IsManadatory, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsManadatory, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div>
                    <div class="col-md-offset-2 my-4">
                        <input type="submit" value="Update" class="btn btn-success w-100 bg-ad-primary" />
                    </div>
                </div>
            </div>

        </div>
    }

    <div class="card-footer">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
